[Desktop Entry]
Name=Widelands
Comment=Clone of the game Settlers II
Comment[pl]=Klon gry Settlers II
Exec=widelands
Icon=widelands
Type=Application
Categories=Game;StrategyGame;
Encoding=UTF-8
# vi: encoding=utf-8
